<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <!-- Fontawesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous" />
    <!-- Google Font -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:ital@0;1&family=Montserrat:wght@400;700&family=PT+Sans&display=swap" rel="stylesheet">
    <!-- Css -->
    <link rel="stylesheet" href="dist/app.css">
    <!-- Title -->
    <title>Avada Music</title>
  </head>
  <body>

    <div id="app">

      <header>

        <div class="headerTop">

          <a href="#app"><img src="img/avada-music-logo.png" alt=""></a>
          <i><i class="fas fa-bars fa-2x"></i></i>

        </div>

        <div class="headerCenter">

          <h1>Untold Stories</h1>
          <h4>There is an untold story behind every favourite song.</h4>
          <button class="btn btnRosso" type="button" name="button">Latest Album</button>
          <button class="btn" type="button" name="button">Live Dates</button>
        </div>

      </header>

      <main>

        <section class="primaSezione">

          <div class="contenuto">

            <h2>Music Is Life</h2>
            <hr>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

          </div>

        </section>

        <section class="secondaSezione">
          <div class="contenuto">
            <h2>Latest Band News</h2>
            <hr>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          </div>

          <div class="containerNews">

            <div class="containerSinistra">

              <div class="technologyMusic">
                <img src="img/technologyMusic.jpg" alt="">
                <div class="container">
                  <h3 class="title">Technology and music</h3>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
                <div class="overlay">
                  <h3 class="overlayTitle">Technology and music</h3>
                </div>
              </div>

              <div class="guitarWeeps">
                <img src="img/guitarWeeps.jpg" alt="">
                <div class="container">
                  <h3 class="title">While my guitar gently weeps</h3>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
                <div class="overlay">
                  <h3 class="overlayTitle">While my guitar gently weeps</h3>
                </div>
              </div>

              <div class="soundsBetter">
                <img src="img/soundsBetter.jpg" alt="">
                <div class="container">
                  <h3 class="title">It just sounds better</h3>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
                <div class="overlay">
                  <h3 class="overlayTitle">It just sounds better</h3>
                </div>
              </div>

              <div class="rockFlavour">
                <img src="img/rockFlavor.jpg" alt="">
                <div class="container">
                  <h3 class="title">The flavor of rock</h3>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
                <div class="overlay">
                  <h3 class="overlayTitle">The flavor of rock</h3>
                </div>
              </div>

            </div>

            <div class="containerDestra">

              <div class="oldSchool">
                <img src="img/oldSchool.jpg" alt="">
                <div class="container">
                  <h3 class="title">Taking it back to the old school</h3>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
                <div class="overlay">
                  <h3 class="overlayTitle">Taking it back to the old school</h3>
                </div>
              </div>

              <div class="stageLegend">
                <img src="img/stageLegend.jpg" alt="">
                <div class="container">
                  <h3 class="title">Sharing stage with a legend</h3>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
                <div class="overlay">
                  <h3 class="overlayTitle">Sharing stage with a legend</h3>
                </div>
              </div>

            </div>

          </div>
        </section>

        <section class="terzaSezione">
          <h4>View All Latest News</h4>
        </section>

        <section class="quartaSezione">
          <div class="">
            <p>“I just listened to it and said to myself, “Man, I really love this album.” Still, today, it just sounds so fresh. It sounds full of ideas. These guys knew what they were doing. They’re good. And they’re inventive. I haven’t heard anything this year that’s as inventive. I don’t really expect to.”</p>
            <i class="fas fa-play-circle fa-3x"></i>
          </div>
        </section>

        <section class="quintaSezione">
          <div class="contenuto">

            <h2>Live Dates</h2>
            <hr>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

          </div>

          <div class="containerDate">

            <ul>
              <li v-for="(item, index) in listaDate" @click="changeActiveIndex(index)">
                <i class="fas fa-plus fa-xs"></i> {{item.data}}

                <div class="containerLuogoConcerto" v-if="item.isActive == true">

                  <img src="https://via.placeholder.com/300x200" alt="">

                  <div class="">

                    <h4>Untold Stories</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                    <button class="btn btnRosso" type="button" name="button">BOOK NOW</button>

                  </div>

                </div>

              </li>
            </ul>

          </div>

        </section>

        <section class="sestaSezione">
          <h4>View All Live Dates</h4>
        </section>

      </main>

      <footer>

        <div class="footerTop">

          <img src="img/logo_footer.png" alt="">

          <ul>
            <li v-for="item in listaFooterTop"><a href="#">{{item}}</a></li>
          </ul>

        </div>

        <div class="footerBottom">

          <ul>
            <li v-for="element in listaFooterBottom"><a href="#">{{element}}</a></li>
          </ul>

          <ul>
            <li v-for="element in listaIconeSocial"><a href="#"><i class="fab fa-lg" :class="element"></i></a></li>
          </ul>

        </div>

      </footer>

    </div>

    <!-- Vue (Development Version) -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <!-- Axios -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js" integrity="sha512-bZS47S7sPOxkjU/4Bt0zrhEtWx0y0CRkhEp8IckzK+ltifIIE9EMIMTuT/mEzoIMewUINruDBIR/jJnbguonqQ==" crossorigin="anonymous"></script>
    <!-- Js -->
    <script src="js/script.js" charset="utf-8"></script>
  </body>
</html>
