*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

.btn{
  padding: 15px 30px;
  font-size: $fontMedioPiccolo;
  color: white;
  background-color: inherit;
  border: 1px solid white;
  text-transform: uppercase;
  margin: 0px 5px;
  cursor: pointer;
  transition: all .3s ease-in-out;
  font-family: 'PT Sans', sans-serif;
}

.btn:hover{
  color: black;
  border: 1px solid black;
  background-color: white;
  transition: all .3s ease-in-out;
}

.btnRosso{
  border: 1px solid $coloreRossiccio;
  background-color: $coloreRossiccio;
}

ul li{
  list-style: none;
  display: inline-block;
}
ul li a{
  text-decoration: none;
}
p, a{
  color: $coloreText;
}

h2{
  color: white;
  font-size: $fontMedioGrande;
  letter-spacing: 2px;
  padding-top: 50px;
  padding-bottom: 20px;
  font-family: 'Montserrat', sans-serif;
}
h3{
  color: $coloreRossiccio;
}
.contenuto{
  // border: 1px solid white;
  text-align: center;
  width: 60%;
  margin: auto;

  & p{
    padding-top: 30px;
    padding-bottom: 50px;
    font-size: $fontMedioPiccolo;
    font-family: 'Merriweather', serif;
    font-weight: 400;
  }
}

hr{
  width: 25%;
  margin: 15px auto 15px auto;
  border: 1px solid $coloreText;
}

.bordoSpesso{
  width: 40%;
  margin: auto;
  height: 15px;
  background-color: $coloreRossiccio;
}

.containerDate{
  // border: 1px solid blue;
  width: 90%;
  margin: auto;

  & ul li{
    display: block;
    color: $coloreRossiccio;
    background-color: $coloreGrigioChiaro;
    // border: 1px solid green;
    padding: 20px 0px;
    margin: 10px 0px;
    letter-spacing: 3px;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;

    & i{
      color: white;
      padding: 8px;
      margin: 0px 15px;
      transition: 0.5s;
    }

    &:hover{
      background-color: #373E4A;
    }

    &:hover i{
      background-color: $coloreRossiccio;
      transition: 0.5s;
    }

    & .containerLuogoConcerto{
      // border: 1px solid white;
      width: 90%;
      margin: auto;
      display: flex;
      align-items: center;
      padding: 15px 0px;

      & img{
        height: 200px;
        width: 300px;
      }

      & div{
        // border: 1px solid green;
        margin-left: 45px;

        & h4{
          color: white;
          font-weight: 400;
          font-family: 'Montserrat', sans-serif;
        }

        & p{
          padding: 15px 0px;
          line-height: 25px;
          font-family: 'Merriweather', serif;
        }
      }

    }
  }
}
