*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

.btn{
  padding: 10px 25px;
  color: white;
  background-color: inherit;
  border: 1px solid white;
  text-transform: uppercase;
  margin: 0px 5px;
  cursor: pointer;
}
