$fontPiccolo: 10px;
$fontMedio: 20px;
$fontMedioGrande: 60px;
$fontGrande: 150px;
$coloreRossiccio: #EC4857;
$coloreGrigioChiaro: #323944;
$coloreGrigioScuro: #252B33;
$coloreText: #7D7C8D;




// font-family: 'Merriweather', serif;
// font-family: 'Montserrat', sans-serif;
// font-family: 'PT Sans', sans-serif;
