$fontPiccolo: 10px;
$fontMedioPiccolo: 20px;
$fontMedio: 30px;
$fontMedioMedioGrande: 45px;
$fontMedioGrande: 60px;
$fontGrande: 150px;
$coloreRossiccio: #805876;
$coloreGrigioBottoneFondo: #323233;
$coloreGrigioChiaro: #323944;
$coloreGrigioScuro: #252B33;
$coloreGrigioScuroOpaco: rgba(37, 43, 51, 0.7);
$coloreText: #7D7C8D;




// font-family: 'Merriweather', serif;
// font-family: 'Montserrat', sans-serif;
// font-family: 'PT Sans', sans-serif;
