#containerLiveDates footer{
  height: 35vh;
  background-color: red;

  & ul li{

    & :hover{
      color: white;
    }

    & a{
      padding: 0px 10px;
      font-weight: 400;
      font-family: 'Merriweather', serif;
    }
  }

  & .footerTop{
    height: 20vh;
    background-color: $coloreGrigioChiaro;
    padding-left: 30px;
    padding-right: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;



  }

  & .footerBottom{
    height: 15vh;
    background-color: $coloreGrigioScuro;
    padding-left: 30px;
    padding-right: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    & ul:first-child li{

      & a{
        font-size: $fontPiccolo;
        font-weight: 400;
        border-right: 1px solid $coloreText;
      }

      &:last-child a{
        border: none;
      }
    }

    & ul:last-child li{
      height: 40px;
      width: 40px;
      line-height: 40px;
      text-align: center;
      margin: 5px;
      background-color: $coloreGrigioChiaro;
    }
  }

  & div:last-child{
    width: 50px;
    background-color: $coloreGrigioBottoneFondo;
    color: white;
    text-align: center;
    position: fixed;
    bottom: 0;
    right: 75px;
    border-radius: 5px;
    z-index: 10;

    & i{
      padding: 5px;

      &:hover{
        color: white;
      }
    }

    &:hover{
      background-color: $coloreRossiccio;
    }
  }
}
